<div id="actor-subview-item" class="group">
  <% if(profile_url) { %>
  <img src="<%- profile_url %>" class="small_image"></img>
  <% } else { %>
  <img src="http://i.imgur.com/Dc9Jiea.png" class="small_image" style="border:1px solid;"></img>
  <% } %>
</div>
<div id="actor-subview-item" class="group">
  <label class="small_title">
    <%= actor.escape("name") %>
  </label>
</div>
