<img src="<%= image_url %>" />
<div class="mask mask-1"></div>
<div class="mask mask-2"></div>
<div class="content">
	<h2><%= actor.escape("name") %></h2>
	<!-- <p>Some Text</p> -->
	<a href="#" class="info">Read More</a>
</div>
