<div id="bg">
  <img src="http://res.cloudinary.com/dypfv4yqq/image/upload/v1439859213/p9mUO_mahoug.jpg" alt="">
</div>
<div id="navbar" class="border group"></div>
<div id="main" class="group"></div>
<!-- Footer -->
<footer id="footer">
    <div class="container text-center footer-div">
        <p>Copyright &copy; BDMI 2015 MARK HAO POWERED BY:
           <img src="https://d3a8mw37cqal2z.cloudfront.net/images/logos/var_5_0_tmdb-logo-1Line-GreenGradient-Bree.png" height="30px" width="auto">
        </p>
    </div>
</footer>

<script>
  $(function() {
    <% if signed_in? %>
      BDMI.CURRENT_USER = {
        id: "<%= current_user.id %>",
        username: "<%= current_user.username %>",
        email: "<%= current_user.email %>"
      }
    <% end %>
    BDMI.initialize();
});
</script>
