<!-- <div id="bg">
  <img src="https://photos-3.dropbox.com/t/2/AAC9UyvSIbSmEPD6Ia6Xp7voQ5MivUBEDP2bfoisg4MbSg/12/455194318/jpeg/32x32/1/_/1/2/photo-1427501482951-3da9b725be23.jpeg/EKS99tYDGFQgBygH/ivubjs1snthWv-hUJPNRgVlM-otTT-uESEzm8HlOhLc%2CUs77gN4ouiu4pBk22cTp_Xu1d4_xiF3Q2u0d5FkYdjY?size=1024x768&size_mode=2" alt="">
</div> -->
<div id="navbar" class="border group"></div>
<div id="main" class="group"></div>

<script>
  $(function() {
    <% if signed_in? %>
      BDMI.CURRENT_USER = {
        username: "<%= current_user.username %>",
        email: "<%= current_user.email %>"
      }
    <% end %>
    BDMI.initialize();
  });
</script>
