<div id="navbar" class="group"></div>
<div id="main" class="group"></div>

<script>
  $(function() {
    <% if signed_in? %>
      BDMI.CURRENT_USER = {
        username: "<%= current_user.username %>",
        email: "<%= current_user.email %>"
      }
    <% end %>
    BDMI.initialize();
  });
</script>
