<div id="bg">
  <img src="http://res.cloudinary.com/dypfv4yqq/image/upload/v1439859213/p9mUO_mahoug.jpg" alt="">
</div>
<div id="navbar" class="border group"></div>
<div id="main" class="group"></div>
<!-- Footer -->
<footer id="footer">
    <div class="container text-center footer-div">
        <p>Copyright &copy; BDMI 2015 MARK HAO</p>
    </div>
</footer>

<script>
  $(function() {
    <% if signed_in? %>
      BDMI.CURRENT_USER = {
        username: "<%= current_user.username %>",
        email: "<%= current_user.email %>"
      }
    <% end %>
    BDMI.initialize();
});
</script>
