// Place all the styles related to the api/movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.in_theaters_item {
  display: block;
  float: left;
  width: 24%;
  margin: 5px;
}

.small_image {
  height: auto;
  width: 150px;
}

.small_title {
}

#movie_item {
  padding-top: 20px;
}

#load-more-in-theaters {
  margin-top: 3%;
}

#load-more-in-theaters:hover {
  color: #fff;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(255,15,27,1);
  -moz-box-shadow: 0px 0px 28px 0px rgba(255,15,27,1);
  box-shadow: 0px 0px 28px 0px rgba(255,15,27,1);
}
