// Place all the styles related to the api/movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.in_theaters_item {
  display: block;
  float: left;
  padding: 10px 20px;
  width: 20%;
}

.small_image {
  height: 148px;
  width: 100px;
}

.small_title {
}

#movie_item {
  padding-top: 20px;
}
