#owl-example .item img{
    display: block;
    width: auto;
    height: 427px;
    margin: 0 auto;
}

#hot {
  padding-top: 60px;
  width:99%;
  border-radius: 0;
  overflow: hidden;
  margin: 0 auto;
}

.hot-body {
  text-align: center;
  padding-bottom: 60px;
}

.content-section {
  padding-top: 50px;
  margin-bottom: 50px;
  background: rgba(19, 19, 19, 0.7);
}


.search-section {
  margin-top: 10%;
}

.in-theaters-section {
  margin-top: 10%;
}

.rating > span:hover:before {
   content: "\2605";
   position: absolute;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
