#myCarousel {
  width:1220px;
  margin-left: -235px;
}

.carousel-inner {
  margin: 0 auto;
  display: block;
  height: 490px;
}

.intro {
  padding-top: 0;
  width:80%;
  border-radius: 20%;
  overflow: hidden;
  margin: 0 auto;
  padding-bottom: 10px;
}

.intro-content {
  padding-top: 100px;
}

.intro-body {
  padding-top: 0;
}

.content-section {
    margin-bottom: 50px;
}

.search-section {
  margin-top: 10%;
}

.in-theaters-section {
  margin-top: 10%;
}

.carousel-image {
  max-height: 472px;
  width: auto;
  margin: 0 auto;
}

.carousel-control {
  bottom: 50px;
}

.rating > span:hover:before {
   content: "\2605";
   position: absolute;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
