#owl-example .item img{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#hot {
  padding-top: 60px;
  width:80%;
  border-radius: 0;
  overflow: hidden;
  margin: 0 auto;
  min-height: 825px;
}

#search {
  width: 80%;
  margin: 0 auto;
  border-radius: 0;
  background-color: rgba(6, 5, 5, 0.35);
}

.hot-body {
  width: 80%;
  text-align: center;
  padding-bottom: 60px;
}


.content-section {
  padding-top: 50px;
  background: rgba(19, 19, 19, 0.7);
}


.search-section {
  overflow-x: visible;
  margin-top: 10%;
}

.in-theaters-section {
  overflow-x: visible;
  margin-top: 10%;
}

.top-rated-section {
  overflow-x: visible;
  margin-top: 10%;
}

.rating > span:hover:before {
   content: "\2605";
   position: absolute;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
