.wrap_body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.movie-show {
  padding: 15px 30px;
}

.section-title {
  margin: 10px 10px;
}

#about {
  min-width: 1000px;
  overflow-x: visible;
}

#casts {
  padding-top: 10%;
  background-color: rgba(10, 10, 10, 0.72);
}

.all-casts {
  text-align: center;
  padding-left: 20px;
}

#about-title {
  margin-left: -13%;
}

.info-overview {
  font-family: serif;
  font-size: 15px;
}

.overview {
  margin-bottom: 20px;
}

.movie-rating {
  margin-top: 20px;
  margin-bottom: 10px;
}

.show-section {
  min-height: 500px;
  margin-bottom: 50px;
}

#info-section {
  min-width: 1100px;
  overflow-x: visible;
  background: rgba(0, 0, 0, 0.7);
  padding: 60px;
}

#movie-info-list {
  list-style-type: none;
}

.movie-info-item {
  padding: 10px 20px;
}

.info-body {
  padding-bottom: 10px;
  width: 37%
}

.info-title {
  border-bottom: 1px solid;
  width: 15%;
}

#watched-btn {
  margin-left: 20px;
}

.detail-item {
  float: left;
  display: block;
}
.info-subitem {
  padding-left: 20px;
}
.small-movie-star {
  margin-bottom: 25px;
}

.movie-list {
  width: 60%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-right: 10%;
  border-radius: 5px;
  padding-top: 30px;
}

.large_image {
  max-height: 500px;
  width: auto;
}

.back-to-main {
  position: fixed;
  top: 50%;
  left: 10%;
}

// player

.player {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 7777;
  background: rgba(80, 80, 80, 0.67);
}

.close-play {
  position: absolute;
  right: 5%;
  top: 5%;
}

.close-play a{
  color: #fff;
  font-size: 26px;
  padding: 6px 12px;
  background-color: rgba(0, 0, 0, 0.81);
}

#player {
  position: absolute;
  left: 12%;
  top: 17%;
}

.trailer-notice {
  top: 60%;
  left: 45%;
  width: 10%;
  text-align: center;
  position: absolute;
  font-size: 36px;
  background-color: rgba(47, 47, 47, 0.72);
  border-radius: 10px;
  border: 1px solid rgb(32, 32, 32);
}

.info-btn {
  width: auto;
  float: left;
  margin-right: 20px;
}

.info-btn .disabled{
  pointer-events: none;
  opacity: 0.6;
}

// avatar section ------------------

.more {
	text-align: center;
	position: relative;
	bottom:0px;
	width: 100px;
	height: 100px;
	display:inline-block;
	z-index:100;
	left: 50%;
	margin-left: -50px;
	border-radius: 50%;
	margin-top: -50px;
	background: #3c3c3c;
}

h1.section-title {
	text-transform: uppercase;
	font-size: 48px;
	text-align: center;
	margin-bottom: 92px;
	margin-top: 16px;
}

h1.section-title:after{
	position: relative;
	content:'';
	display:block;
	width: 40px;
	height: 2px;
	background: #fb0000;
	left: 50%;
	margin-left: -20px;
	margin-top: 26px;
}


.more a {
	font-size: 36px;
	color: #fff;
	line-height: 86px;
}

.more a:hover {
	text-decoration:none;
	color: #fb0000;
}


.movie-avatar {
	background: url("http://res.cloudinary.com/dypfv4yqq/image/upload/v1440004410/movie-avatar-bg_trxbb0.png") no-repeat top left;
	width: 383px;
	height: 518px;
	padding-top: 3px;
	padding-left: 3px;
	margin-bottom: 25px;
	position:relative;
}

.movie-poster {
  width: 580px;
}

.movie-disc {
	background: url("http://res.cloudinary.com/dypfv4yqq/image/upload/v1440004410/movie-avatar-disc_xctupr.png") no-repeat bottom center;
	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.movie-disc:hover {
	background-position: bottom right;

}

.movie-avatar-img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	overflow:hidden;
	width: 370px;
	height: 512px;
}

.movie-avatar-img:before {
	content:'';
	background:url("http://res.cloudinary.com/dypfv4yqq/image/upload/v1440004410/movie-avatar-img-glare_j2h0xv.png") no-repeat top left;
	z-index: 999;
	position:absolute;
	display:block;
	width: 100%;
	height: 100%;
}

@media(max-width:420px) {

	.movie-avatar {
		max-width: 100%;
	}

	.movie-avatar-img {
		max-width: 100%;
	}


	.movie-disc {
		background: none;
	}
}

.text-dark {
	color: #bebebe !important;
  font-family: 'Open Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.text-light {
	color: #fff !important;
}

.text-color {
	color: #fb0000 !important;
}
