// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.review-section-item {
  margin-left: 15%;
  width: 70%;
  float: left;
  display: block;
  min-height: 200px;
  padding: 20px 20px;
  background: rgba(0, 0, 0, 0.71);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

#review-section {
  min-width: 1100px;
  overflow-x: visible;
  background: rgba(0, 0, 0, 0.7);
  padding: 60px;
}

.section-item {
  float: left;
  display: block;
  width: 100%;
}

.no-review {
  padding-top: 5%;
}

.review {
  display: block;
  float: left;
  padding: 1% 4%;
  text-align: left;
}

.review-tag {
  width: 50%;
  border-bottom: 1px solid #fff;
}

.review-grade {
  height: 50px;
}

.review-title {
  height: 50px;
  width: 70%;
}

.review-body {
  height: auto;
  width: 100%;
}

.review-author {
  width: 30%;
  float: right;
  text-align: right;
  padding-right: 10%;
  font-style: italic;
  font-family:  Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
}

.small-review-title {
  padding-top: 5%;
}

.small-review-body {
  font-size: 16px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.create-new {
  margin-left: 15%;
  margin-bottom: 2%;
  width: 70%;
  text-align: center;
}

.load-more {
  width: 70%;
  margin-left: 15%;
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

#load-more-reviews {
  color: #fff;
  width: auto;
  margin: 0 auto;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px
}

#load-more-reviews:hover {
  text-shadow: 0 1px 10px #E60000;
}
