// Place all the styles related to the roots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.logo {
  height: 22px;
}

.navbar.navbar-default {
  position: fixed;
  width: 100%;
}

.nav {
  display: block;
}

.big-title {
  text-align: center;
  margin-bottom: 8px;
}

.big-title-border {
  width: 15%;
  margin: 0 auto;
  height: 3px;
  background: radial-gradient(circle, red, darkred);
  border: 0.01px solid;
  border-radius: 50%;
  background-co: #FF0000;
  margin-bottom: 70px;
}

#navbar {
  display: block;
  height: 85px;
}

#login-section {
  border-left: 2px solid #fff;
  padding-left: 15px;
  margin-right: -40px;
}

.banner {
  position: relative;
  overflow: auto;
}

.banner ul li {
  float: left;
}

.banner li {
  list-style: none;
}

#main {
  margin-top: 1%;
}

.main_container {
  display: block;
}


#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -10;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

#content {
  width: 100%;
}

.content-section {
  min-height:500px;
  background: #000;
  width: 80%;
  border-radius: 20px;
}

.group::after {
  content: "";
  clear: both;
  display: block;
}

.btn:focus {
  background: #000;
  color: #fff;
}

#new {
  background-color: rgba(41, 41, 41, 0.7);
  width: 95%;
  border-radius: 20px;
  padding-top: 0;
  padding-bottom: 50px;
}

#rank {
  margin: 0 auto;
}

.alert {
  background: rgba(0, 0, 0, 0.87);
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  height: auto;
  font-size: 16px;
  padding: 10px;
  border: 1px solid darkgray;
}
