.radio-inline {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.results_item {
  width: 24%;
  float: left;
  display: block;
  text-align: center;
  height:380px;
  margin: 5px;
}

#dropdown {
  margin-top: -2%;
}

.search-dropdown-item {
  background-color: rgba(0, 0, 0, 0.37);
  border-bottom: 1px solid #333;
}

.search-dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.dropdown-image {
  float: left;
  margin-left: 8%;
  padding: 1%;
}

.dropdown-title {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 45px;
}

.actor-item {
  width: 24%;
  float: left;
  display: block;
  text-align: center;
  height:380px;
  margin: 5px;
}

#actor-subview-item {
  margin-top: 10px;
}

#not-choose {
  text-align: center;
}

#all-genres-section .active {
  -webkit-box-shadow: 0px 0px 20px 3px rgba(86, 204, 255, 0.75);
  -moz-box-shadow:    0px 0px 20px 3px rgba(86, 204, 255, 0.75);
  box-shadow:         0px 0px 20px 3px rgba(86, 204, 255, 0.75);
}

#sort-section .active {
  -webkit-box-shadow: 0px 0px 20px 3px rgba(86, 204, 255, 0.75);
  -moz-box-shadow:    0px 0px 20px 3px rgba(86, 204, 255, 0.75);
  box-shadow:         0px 0px 20px 3px rgba(86, 204, 255, 0.75);
}

#pagination-section {
  text-align: center;
}

.pagination {
  color: #fff;
  background-color: #000;
}

#all-genres-section {
  width: 84%;
  margin: 40px auto;
}

#all-genres-section a {
  margin: 5px 4px;
  color: #fff;
}

.results_item:first-of-type {
  padding-top: 20px;
  width: 90%;
  margin-left: 3%;
  background: rgba(0, 0, 0, 0.4);
}

.my-search-result {
  padding-top: 60px;
}

.search-result-body {
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#title-lbl {
  float: left;
  display: block;
}

#title-lbl b {
  font-size: 25px;
  text-transform: capitalize;
}

#title-lbl strong {
  text-transform: uppercase;
}

#sort-section {
  text-align: right;
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid
}

#sort-section h5 {
  width: 100px;
}

#sort-by {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 35px;
  letter-spacing: 1px;
  font-size: 14px;
  line-height:1.1;
}

.submit-search:hover {
  color: #fff;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(255,15,27,1);
  -moz-box-shadow: 0px 0px 28px 0px rgba(255,15,27,1);
  box-shadow: 0px 0px 28px 0px rgba(255,15,27,1);
}

#sort-section button:hover{
  color: #fff;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(255,15,27,1);
  -moz-box-shadow: 0px 0px 28px 0px rgba(255,15,27,1);
  box-shadow: 0px 0px 28px 0px rgba(255,15,27,1);
}

#results-section {
  min-width: 1000px;
  overflow-x: visible;
  width: 90%;
  margin-left: 62px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding-top: 35px;
  border-bottom: 1px solid;
}

#first-result-image {
  width: 30%;
  float: left;
  display: block;
}

.first-item-image {
  height: 300px;
  width: auto;
}

#first-result-info {
  width: 50%;
  float: left;
  display: block;
}

#first-result-info h4 {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 20px;
  padding-left: 30px;
}

#first-result-info label {
  font-size: 20px;
  margin-bottom: 20px;
}

.first-star {
  padding-right: 30px;
  margin-top: 20px;
}

.exp-btn {
  margin-left: 109%;
}

#explore:hover {
  color: #fff;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(255,15,27,1);
  -moz-box-shadow: 0px 0px 28px 0px rgba(255,15,27,1);
  box-shadow: 0px 0px 28px 0px rgba(255,15,27,1);
}
