.user-show-section {
  margin-top: 30px;
}

#user-title {
  margin-left: 10%;
  border-bottom: 2px solid;
  width: 74%;
  margin-top: 30px;
}

.user-review-container {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.user-review-item {
  float: left;
  display: block;
}

#user-review-movie {
  width: 20%;
  margin-top: 5px;
}

#user-review-content {
  width:70%;
}

.user-review-item .review-section-item {
  margin-left: 0;
  width: 100%;
}

.user-watchlist {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.user-watched-list {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.user-no {
  width: 90%;
}
