<section id="user-review-section" class="user-show-section">
<div class="container wp2">
<h2 class="section-title" id="user-title">My Reviews</h2>
    <div class="row">
        <div class="user-reviews">

        </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
</div><!-- /.container -->
</section><!-- /#review -->

<section id="user-watchlist-section" class="user-show-section">
<div class="container wp2">
<h2 class="section-title" id="user-title">My Watchlist</h2>
    <div class="row">
        <div class="user-watchlist">

        </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
</div><!-- /.container -->
</section><!-- /#user-watchlist-section -->

<section id="user-review-section" class="user-show-section">
<div class="container wp2">
<h2 class="section-title" id="user-title">My Watched Movies</h2>
    <div class="row">
        <div class="user-watched-list">

        </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
</div><!-- /.container -->
</section><!-- /#user-watchedlist-section -->
