<h3 class="section-title">Reviews</h3>
<button class="review-button btn">Write a new review</button>
<div class="review-list"></div>
<div class="load-more">
<a href="javascript:void(0)" class="btn btn-circle page-scroll" id="load-more-button">
  <i class="fa fa-angle-double-down animated"></i>
</a>
</div>
