<h3 class="section-title">Reviews</h3>
<div class="review-list section-item"></div>
<button class="review-button btn section-item">Write a new review</button>
<div class="load-more section-item">
<a href="javascript:void(0)" class="btn load-more" id="load-more-button">
  <span>Load more</span>
</a>
</div>
