<div id="first-result-image" class="group">
  <img src="<%- poster_url %>" class="first-item-image"></img>
</div>
<div id="first-result-info" class="group">
  <label class="small_title">
    <%= movie.escape("title") %>
  </label>
</div>
  <div class="small_movie_score"></div>
