<div id="first-result-image" class="group">
  <img src="<%- poster_url %>" class="first-item-image"></img>
</div>
<div id="first-result-info" class="group">
  <h4> Title:   <%= movie.escape("title") %></h4>
  <br>
  <br>
  <h4> Release date:   <%= movie.escape("release_date") %> </h4>
  <br>
  <br>
  <h4> Votes:   <%= movie.escape("vote_count") %></h4>
  <div class="exp-btn">
    <button class="btn" id="explore">Explore</button>
  </div>
</div>
  <div id="star" class="first-star"></div>
