<div id="movie_item" class="group">
  <img src="<%= post.escape("post_url") %>" class="small_image"></img>
</div>
<div id="movie_item" class="group">
  <label class="small_title">
    <%= movie.escape("title") %>
  </label>
</div>
  <div class="small_movie_score"></div>
