<div id="movie_item" class="group">
  <% if(poster_url) { %>
  <img src="<%- poster_url %>" class="small_image"></img>
  <% } else { %>
  <img src="http://i.imgur.com/Dc9Jiea.png" class="small_image" style="border:1px solid;"></img>
  <% } %>
</div>
<div id="movie_item" class="group">
  <label class="small_title">
    <%= movie.escape("title") %>
  </label>
</div>
  <div class="small_movie_score"></div>
