<h1 class="big-title">What's Hot</h1>
<div class="big-title-border"></div>
<div class="hot-body container">
  <div class="row">
    <div id="owl-example" class="owl-carousel owl-theme"></div>
    <h4 style="margin-bottom:0;margin-top:16px;">See more new movies</h4>
    <a href="#new" class="btn btn-circle page-scroll">
      <i class="fa fa-angle-double-down animated"></i>
    </a>
  </row>
</div>
