<div id="movie_image">
  <img src="<%= movie.escape("img_url") %>" class="small_image"></img>
</div>
<div id="movie_title">
  <label class="small_title">
    <%= movie.escape("title") %>
  </label>
  <span id="movie_score">
    <%= movie.escape("score") %>
  </span>
</div>

<!-- <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div> -->
