<div class="dropdown-image" class="group">
  <img src="<%- poster_url %>" width="auto", height="100px"></img>
</div>
<div id="movie-dropdown-title" class="group">
  <h5>Title:  <%= movie.escape("title") %><h5>
  <h5 class="movie-dropdown-date">Release Date:  <%= movie.escape("release_date") %></h5>
  <div id="star" class="movie-dropdown-star"></div>
</div>
