<div class="dropdown-image group">
  <img src="http://res.cloudinary.com/dypfv4yqq/image/upload/v1439961364/gi3qg0zunhtxmzp3vaar.jpg" width="auto", height="200px">
</div>

<div class="dropdown-title group">
  <h5>Fantastic Four</h5>
</div>
