<section id="info-section" class="content-section"></section>
<section id="poster-section" class="content-section"></section>
<section id="actor-section" class="content-section"></section>
<section id="review-section" class="content-section"></section>
