<section id="info-section" class="show-section group"></section>
<!-- <section id="poster-section" class="content-section"></section> -->
<section id="actor-section" class="show-section group">
  <h3 class="section-title">Main Actors</h3>
</section>
<section id="review-section" class="show-section group">
  <h3 class="section-title">Reviews</h3>
</section>
