#myCarousel {
  width:1220px;
  height:484px;
  margin-left: -235px
}

.carousel-inner {
  margin: 0 auto;
  display: block;
  height: 490px;
}

.carousel-image {
  max-height: 472px;
  width: auto;
  margin: 0 auto;
}

.carousel-control {
  bottom: 50px;
}

.rating > span:hover:before {
   content: "\2605";
   position: absolute;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
