// Place all the styles related to the roots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.logo {
  height: 22px;
}

.navbar.navbar-default {
  position: fixed;
  width: 100%;
}

#navbar {
  height: 52px;
}

.banner {
  position: relative;
  overflow: auto;
}

.banner ul li {
  float: left;
}

.banner li {
  list-style: none;
}

#main {
  margin: 30px;
}

.main_container {
  display: block;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

#content {
  width: 100%;
}


.group::after {
  content: "";
  clear: both;
  display: block;
}
