<div class="wrap">
  <div class="overlay"></div>

  <div class="cogWheel one">
    <div class="cog one"></div>
    <div class="cog two"></div>
    <div class="cog three"></div>
    <div class="cog four"></div>
    <div class="cog five"></div>
    <div class="center"></div>
  </div>

  <div class="cogWheel two">
    <div class="cog one"></div>
    <div class="cog two"></div>
    <div class="cog three"></div>
    <div class="cog four"></div>
    <div class="cog five"></div>
    <div class="center"></div>
  </div>
</div>

<div class="loading">
  <h2>Loading details...</h2>
</div>
