<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#">
                <i class="fa fa-home"></i> BDMI
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
              <li>
                <a class="page-scroll" href="#hot">WHAT'S HOT</a>
              </li>
              <li>
                <a class="page-scroll" href="#new">IN THEATERS</a>
              </li>
              <li>
                <a class="page-scroll" href="#search">SEARCH</a>
              </li>
              <li>
                <a class="page-scroll" href="#top">TOP RATED</a>
              </li>
              <li class="dropdown" id="genres-dropdown">
                <a  class="user_login" href="#page-top" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">GENRES<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#/genres/action" id="action"> ACTION </a></li>
                  <li><a href="#/genres/comedy" id="comedy"> COMEDY </a></li>
                  <li><a href="#/genres/drama" id="drama"> DRAMA </a></li>
                  <li><a href="#/genres/fantasy" id="fantasy"> FANTASY </a></li>
                  <li><a href="#/genres/horror" id="horror"> HORROR </a></li>
                  <li><a href="#/genres/romance" id="romance"> ROMANCE </a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#/genres/all" id="all"> More... </a></li>
                </ul>
              </li>
                <li class="hidden">
                    <a href="#footer"></a>
                </li>
                <% if (BDMI.CURRENT_USER) { %>
                  <li class="dropdown" id="login-section">
                  <% if (BDMI.CURRENT_USER) { %>
                    <a  class="user_login" href="#page-top" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">WELCOME, <%= BDMI.CURRENT_USER.username %><span class="caret"></span></a>
                  <% } else { %>
                    <a  class="user_login" href="#page-top" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">WELCOME, <%= BDMI.CURRENT_USER.email %><span class="caret"></span></a>
                  <% } %>
                  <ul class="dropdown-menu">
                    <!-- <li><a href="#"> NOTIFICATIONS </a></li>
                    <li><a href="#"> MY WATCHING LIST </a></li>
                    <li><a href="#"> MY REVIEWS </a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"> SETTING </a></li> -->
                    <li><a href="/session" data-method="delete"> LOG OUT </a></li>
                  </ul>
                </li>
                <% } else { %>
                <li id="login-section">
                    <a class="page-scroll" href="/users/new">LOGIN OR REGISTER</a>
                </li>
                <% } %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
