<section id="hot" class="container group content-section"></section>
<!-- New Section -->
<h1 class="big-title">In theaters</h1>
<section id="new" class="container content-section text-center"></section>
<!-- Contact Section -->
<h1 class="big-title">Search</h1>
<section id="search" class="container content-section text-center"></section>
<!-- Download Section -->
<h1 class="big-title">Top rated</h1>
<section id="rank" class="content-section text-center"></section>
