<label for="review-title">
  Title:
  <input type="text" name="review[title]" value="">
</label>
<label for="review-body">
  Content:
  <input type="textarea" name="review[body]" value="">
</label>
<label for="review-grade">
  Rating:
  <div id="star"></div>
</label>
