<div class="my-background"></div>

<div class="my-content">
  <form class="form-group" id="review-form">
    <button class="close-form btn">&times;</button>
    <h4 class="form-title">Write a new review</h4>
    <div class="review-item group title">
      <label for="review-title" class="review-form-label">
        Title :
      </label>
    </div>
    <div class="review-item group">
      <input type="text" name="review[title]" value="" class="small-input input">
    </div>
    <div class="review-item group content">
      <label for="review-body" class="review-form-label">
        Content :
      </label>
    </div>
    <div class="review-item group">
      <textarea name="review[body]" value="" class="large-input input"></textarea>
    </div>
    <div class="review-item group rate">
      <label for="review-grade" class="review-form-label">
        Rating :
      </label>
    </div>
    <div class="review-item group stars">
      <div id="star"></div>
    </div>
    <div class="review-item empty"></div>
    <div class="review-item group cancel">
      <button class="btn"id="cancel-btn">
        Cancel
      </button>
    </div>
    <div class="review-item group create">
      <button class="btn" id="create-btn">
        Post
      </button>
    </div>
  </form>
</div>
