<div class="review review-title">
  <h4 class="small-review-title"><%= review.escape("title") %></h4>
</div>
<div class="review review-grade movie-rating">
  <h4 class="small-review-grade"><%= review.escape("grade") %></h4>
</div>
<div class="review review-body">
  <p class="small-review-body"><%= review.escape("body") %></p>
</div>
<div class="review review-author">
  <label class="small-review-author">--- <%= escape(review.attributes.author_name) %></label>
</div>
